/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- GENERAL THINGS -- */

* {
  box-sizing: border-box;
}

html {
	height: 100%;
	background-image: url("assets/freedom_mobile.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

/* -- LANGUAGE MENU -- */

a {
	font-family: 'Julius Sans One', sans-serif;
	text-decoration: none;
	color: #333;
	
}

a:hover {
	color: #fff;
}

ul {
    display: block;
	list-style-type: none;
    margin: 0 auto;
    padding: .5rem;
    text-align: center;
    width: 21.5rem;
	background: rgba(166, 166, 166, 0.3)
}

li {
	display: inline-block;
	padding: 0 .3rem;
}

/* -- CONTENT -- */

p {
	color: #333;
}

.quote {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	margin: 4.5rem auto 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.2;
}

.author {
	font-family: 'Crimson Text', serif;
	font-size: 1.25rem;
	text-align: center;
	font-style: italic;
}

@media only screen and (min-width: 1024px) {
	html {
		background-image: url("assets/freedom.jpg");
	}
	
	.quote {	
		font-size: 2.5rem;
		margin: 6.5rem 3rem 2.8rem 3rem;
		line-height: 1.5;
	}
}	

@media only screen and (min-width: 1800px) {
	html {
		background-image: url("assets/freedom.jpg");
	}
	
	.quote {
		font-size: 2.5rem;
		margin: 20.5rem 3rem 2.8rem 3rem;
		line-height: 1.5;
	}

	