* {
  box-sizing: border-box;
}

body {
	background-image: url("assets/freedom.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

p {
	color: #333;
}

.quote {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2.5rem;
	text-align: center;
	margin: 6.5rem 3rem 2.8rem 3rem;
	line-height: 1.5;
}

.author {
	font-family: 'Crimson Text', serif;
	font-size: 1.25rem;
	text-align: center;
	font-style: italic;
}

@media only screen and (max-width: 768px) {
	.quote {
		font-size: 1.5rem;
		margin: 4.5rem auto 1.5rem;
		margin-bottom: 1.5rem;
		line-height: 1.2;
	}
}

@media only screen and (min-height: 1080px) {
	.quote {
		font-size: 2.5rem;
		text-align: center;
		margin: 23.5rem 3rem 2.8rem 3rem;
		line-height: 1.5;
	}
}


	